# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3

# Uploaded files
media/uploads/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

.env
venv/
__pycache__/
*.pyc
db.sqlite3
media/uploads/
.vscode/